.App {
  text-align: center;
}
.page-container{
display: flex;
flex-direction: column;
align-items: center;
margin: 10px;
padding: 10px;
}
.calculator-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px;
}
#number-1, #number-2, #number-3, #number-4, #number-5, #number-6, #number-7, #number-8, #number-9, #number-0{
background-color: lightblue;
color: white;
font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-emphasis: strong;
border: solid 1px white
}

.calc-buttons, button{
background-color: violet;
color: white;
font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-emphasis: strong;
border: solid 1px white
}
.reset, .equals{
margin: 10px 5px;
width: 95px;
background-color: salmon;
border: 5px solid salmon;
border-radius: 5px;
}

.answer{
  color: salmon;
  font-size: 26px;
}
.display{
  height: 50px;
}